@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "IBM Plex Mono", sans-serif;
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
}

h1 {
  margin-bottom: 12px;
}

.card {
  max-width: 350px;
  margin: 40px;
  border: 6px solid brown;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card::after {
  content: "";
  display: block;
}

.image {
  max-width: 100%;
  display: block;
}

.data {
  padding: 20px;
  padding-top: 24px;
  line-height: 1.55;
}
